/*======GOOGLE FONT======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*======REST======*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}

/*======VARIABLES=======*/
:root {
	/*---COLOR---*/
	--primary: #135592;
	--clr-white: #fff;
	--bg: linear-gradient(
		90deg,
		rgb(0, 36, 6) 0%,
		rgb(68, 146, 100) 0%,
		rgb(70, 99, 105) 100%
	);

	--resetColor: #adabab;
	--equal: hsl(138, 52%, 62%);
	--decresetColor: #e67d7d;

	/*----FONT-----*/
	--FS: min(2.25rem, 3vh);

	/*----GENERAL---*/
	--border-radius: 0.5rem;
	--padding: 1rem;
	--hover: #745174;
	--transition: all 0.3s linear;
}

/*------GENELA STYLES-----*/
body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	background: var(--bg);
	transition: all 0.3s linear;
}

h1 {
	color: #eee;
	padding: 1rem;
	text-align: center;
	margin-top: 2rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: var(--padding);
	margin: 0 auto;
	max-width: 100%;
	width: 70rem;
	margin-top: 1rem;
	border-radius: var(--border-radius);
	min-height: 50vh;
}

button {
	text-align: center;
	margin-top: 2rem;
	font-size: 2rem;
	border-radius: var(--border-radius);
	margin: 0.5rem;
	cursor: pointer;
	padding: var(--padding);
	background-color: var(--primary);
	color: var(--clr-white);
}
button:hover {
	background-color: var(--hover);
	color: var(--clr-white);
	transition: var(--transition);
}
/*==========box===============*/
.box-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	border-radius: var(--border-radius);
}
.box-calculator {
	display: grid;
	grid-template-columns: repeat(4);
	box-shadow: 0.2rem 0.1rem 0.1rem 0.2rem #eee, 0.1rem 0.1rem 0.1rem 0.2rem #eee,
		0.2rem 0.1rem 0.2rem #eee;
	border-radius: var(--border-radius);
	padding: 1rem;
}

.box-calculator input {
	grid-column: span 4;
	height: 3rem;
	width: 21.125rem;
	border-radius: var(--border-radius);
	box-shadow: inset -0.5rem 0.5rem 0.625rem #eee,
		inset 0.5rem 0.5rem 0.625rem #eee, rgba(0, 0, 0, alpha);
	background-color: #fff;
	font-size: 2rem;
	text-align: start;
	margin: 2.5rem 0 1.875rem 0;
	padding: 0.625rem;
}
.equal {
	grid-column: span 2;
	background-color: var(--equal);
}
/*==========MEDIA QUERY=========*/
@media (max-width: 768px) {
	main {
		padding: 2rem;
		width: 25rem;
	}
	button {
		font-size: 1rem;
	}
	.counter {
		font-size: 6rem;
	}
	h1 {
		font-size: 1.5rem;
	}
}
@media (max-width: 568px) {
	main {
		padding: 1rem;
		width: 21rem;
	}
	button {
		font-size: 0.9rem;
	}
	h1 {
		font-size: 1rem;
	}
}
